.car-film {
  width: 250px; /* Adjust width as needed */
  height: 250px; /* Adjust height as needed */
  object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

.film-card {
  transition: transform 0.5s ease; /* Smooth transition for hover effect */
}

.film-card:hover {
  transform: scale(1.1); /* Zoom in on hover */
  z-index: 1; /* Ensure the hovered card stays on top */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.card-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}
/* 
.film-card-small {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.film-card-small .car-film {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.film-card-small .card-body {
  width: 60%;
  padding: 10px;
}

@media (max-width: 500px) {
  .film-card-small {
    flex-direction: column;
    align-items: center;
  }

  .film-card-small .car-film {
    width: 100%;
    height: auto;
  }

  .film-card-small .card-body {
    width: 100%;
    text-align: center;
  }
} */
